.vs/
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates
packages/
*.nupkg
**/Migrations/

node_modules/
**/node_modules/
dist/
**/dist/
frontendplanner/.env
frontendplanner/src/.gitignore

SmartPlanner/appsettings.Development.json
SmartPlanner/secrets.json

*.pid
docker-compose.override.yml

.env
*.env
!*.env.example
secrets/

.vscode/
.idea/

.DS_Store
Thumbs.db
*.tmp
*.log

coverage/
TestResults/
